



.stores {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.store {
  background: white;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

.store--wide {
  width: 100%;
}

.store__details {
  padding: 2rem;
}

.store__details p {
  line-height: 1.2;
  margin-bottom: 0;
}

@media all and (max-width: 850px) {
  .store {
    width: 48%;
  }
}

@media all and (max-width: 550px) {
  .store {
    width: 100%;
  }
}

.store__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.store__action {
  font-size: 10px;
}

.store__action svg {
  width: 25px;
  fill: white;
}

.store__action--edit a {
  border-bottom: 0;
}

.store__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
}

.store__hero:before {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(45deg, #05b3d6 0%, rgba(5, 179, 214, 0) 70%), linear-gradient(135deg, #0958ec 10%, rgba(9, 88, 236, 0) 80%), linear-gradient(225deg, #d209ec 10%, rgba(210, 9, 236, 0) 80%), linear-gradient(315deg, #05e129 100%, rgba(5, 225, 41, 0) 70%);
  opacity: 0.6;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.store__hero img {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}


.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

.pagination__next {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1rem 3rem 1rem 1rem;
}

.pagination__next a:after {
  margin-left: 1rem;
  content: '\2192';
}

.pagination__prev {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1rem 1rem 1rem 3rem;
}

.pagination__prev a:before {
  margin-right: 1rem;
  content: '\2190';
}

.pagination__text {
  -ms-flex: 3 0 auto;
  flex: 3 0 auto;
  padding: 1rem;
  text-align: center;
}

.map {
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

#map {
  height: 500px;
}

.popup {
  width: 300px;
}

.popup img {
  width: 100%;
}

.hide {
  text-indent: -999999px;
  font-size: 0;
}

.button {
  border: 0;
  background: #FFC40E;
  color: #303030;
  font-family: 'Panama';
  font-weight: 600;
}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.card {
  background: white;
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}



/*# sourceMappingURL=style.css.map*/