.nav {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #303030;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.nav__section {
  display: -ms-flexbox;
  display: flex;
}

.nav__section--search {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.nav__item {
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  background: #303030;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  padding: 1.2rem 2rem 1rem 2rem;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: transform 0.2s;
  border-bottom: 5px solid transparent;
}

.nav__link svg {
  width: 40px;
  transition: all 0.2s;
  fill: white;
  margin-bottom: 1rem;
}

.nav__link:hover,
.nav__link--active {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.05);
  background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%) fixed;
}

.nav__link:hover svg,
.nav__link--active svg {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.nav__link--logo:hover svg {
  -ms-transform: none;
  transform: none;
}

.nav__link--logo svg {
  width: 200px;
  margin: 0;
}

@media all and (max-width: 1200px) {
  .nav__link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav__link svg {
    width: 30px;
  }

  .nav__link--logo svg {
    width: 100px;
  }
}

@media all and (max-width: 900px) {
  .nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .nav__section {
    -ms-flex-order: 1;
    order: 1;
  }

  .nav__section--search {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .nav__section {
    width: 100%;
  }

  .nav__section--user {
    -ms-flex-order: -1;
    order: -1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav__section--user .avatar {
    min-width: 20px;
    height: 20px;
  }

  .nav__section--user svg {
    display: none;
  }

  .nav__item {
    width: 33.333333%;
  }

  .nav__link {
    width: 100%;
  }

  .nav__link svg {
    max-width: 100%;
  }

  .nav__link--logo svg {
    width: 100%;
  }
}

.search {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

.search__results {
  background: white;
  position: absolute;
  width: 100%;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  left: 0;
}

.search__input {
  font-size: 30px;
  background: none;
  color: white;
  outline: 0;
  border: 0;
}

.search__result {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ececec;
}

.search__result--active {
  background: #f1f1f1;
}