

.name {
  margin-top: .2rem;
}

@media (max-width: 36rem) {
  .name {
    margin-top: 10rem;
    font-size: 8rem;
  }

}

.avatar {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}



.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tag {
  display: block;
  margin-right: 1rem;
}

.tag__choice {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag__choice input {
  width: auto;
  right: -1.5rem;
  margin-right: -1rem;
  position: relative;
  z-index: 2;
}

.tag__choice input+label {
  background: #e6e6e6;
  padding: 1rem 1rem 1rem 4rem;
}

.tag__choice input:checked+label {
  background: #FFC40E;
}

.tag__link {
  background: #FFC40E;
  color: #303030;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
  clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
}

.tag__link--active {
  background: #827cd2;
}

.tag__link--active .tag__text {
  color: white;
}

.tag__text {
  padding: 1rem 1rem;
  display: block;
}

.tag__count {
  padding: 1rem 1rem;
  background: white;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  margin-right: -1px;
  /* ugh */
  background-clip: padding-box;
}

.single__hero {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
}

.single__hero:before {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(45deg, #05b3d6 0%, rgba(5, 179, 214, 0) 70%), linear-gradient(135deg, #0958ec 10%, rgba(9, 88, 236, 0) 80%), linear-gradient(225deg, #d209ec 10%, rgba(210, 9, 236, 0) 80%), linear-gradient(315deg, #05e129 100%, rgba(5, 225, 41, 0) 70%);
  opacity: 0.6;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
}

.single__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.single__details {
  background: white;
  position: relative;
  padding: 3rem;
  margin-top: -10rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

.single__map {
  width: calc(100% + 6rem);
  max-width: none;
  margin-top: -3rem;
  margin-left: -3rem;
}

.single__location {
  margin: 0;
  margin-top: -3rem;
  margin-right: -5rem;
  background: #303030;
  color: white;
  display: inline-block;
  float: right;
  position: relative;
  padding: 1rem;
}

@media all and (max-width: 850px) {
  .single__location {
    margin-right: 0;
  }
}




@keyframes fly {
  0% {
    transform: translateY(0);
    left: 0;
    opacity: 1;
  }

  20% {
    left: 20px;
  }

  40% {
    left: -20px;
  }

  60% {
    left: 20px;
  }

  80% {
    left: -20px;
  }

  100% {
    transform: translateY(-400px);
    opacity: 0;
    left: 20px;
  }
}

.review {
  background: white;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 5px;
}

.review:before {
  width: 5px;
  left: 0;
  content: '';
  display: block;
  background: linear-gradient(0, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%);
  position: absolute;
  height: 100%;
  background-attachment: fixed;
}

.review__header {
  border-bottom: 1px solid #e6e6e6;
  display: -ms-flexbox;
  display: flex;
}

.review__header>* {
  border-right: 1px solid #e6e6e6;
  padding: 0.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
}

.review__header>*:last-child {
  border-right: 0;
}

.review__author {
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 2rem;
  display: -ms-flexbox;
  display: flex;
}

.review__author .avatar {
  margin-right: 2rem;
}

.review__time {
  font-size: 1.2rem;
  color: #999999;
}

.review__stars {
  color: #FFC40E;
}

.review__body {
  padding: 2rem;
}

.review p {
  white-space: pre-wrap;
}

/*
  Reviewer Form
 */
.reviewer {
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.reviewer__stars {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviewer__stars input {
  display: none;
}

.reviewer__stars input:checked~label {
  color: #FFC40E;
}

.reviewer__stars input+label {
  font-size: 0;
  /* These are in the opposite DOM order
           re-order them to be visually in normal order
           This is fine for accessibility because our labels have for()
         */
}

.reviewer__stars input+label:before {
  content: '\2605';
  font-size: 2rem;
}

.reviewer__stars input+label[for="star5"] {
  -ms-flex-order: 5;
  order: 5;
}

.reviewer__stars input+label[for="star4"] {
  -ms-flex-order: 4;
  order: 4;
}

.reviewer__stars input+label[for="star3"] {
  -ms-flex-order: 3;
  order: 3;
}

.reviewer__stars input+label[for="star2"] {
  -ms-flex-order: 2;
  order: 2;
}

.reviewer__stars input+label[for="star1"] {
  -ms-flex-order: 1;
  order: 1;
}

.reviewer__stars input+label:hover,
.reviewer__stars input+label:hover~label {
  color: #ffdd74;
}

.reviewer textarea {
  border: 0;
  outline: 0;
  font-size: 2rem;
  padding: 2rem;
  height: 200px;
}

.reviewer__meta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  algin-items: center;
  border-top: 1px solid #e6e6e6;
}

.reviewer__meta>* {
  -ms-flex: 1;
  flex: 1;
}


.map {
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

#map {
  height: 500px;
}



/*# sourceMappingURL=style.css.map*/